prueba
CIAA_Software_1.1-Win
TP1
FirmwareV/*
!FirmwareV/examples
FirmwareV/examples/*
!FirmwareV/examples/c
FirmwareV/examples/c/*
!FirmwareV/examples/c/sapi/
FirmwareV/examples/c/sapi/*
!FirmwareV/examples/c/sapi/servo/
!FirmwareV/libs
FirmwareV/examples/c/sapi/servo/servo_pins.png
FirmwareV/examples/c/sapi/servo/servo_connection.png